:root {
    /* PAGE COLORS */
    --background-color: #292c35;
    --background-color: whitesmoke;
    --secondary-color: #ccc;
    --accent-color: #7225e6;
    --text-color-1: #fff;
    --text-color-2:#292c35;
    --shadow:  0 5px 5px 0 rgba(0, 0, 0, 0.2);
    /* FONT style */
    --font-size: 20px;
    --font-header-1: 56px;
    --font-header-2: 34px;
    --font-header-3: 24px;
    --font-size-logo: 36px;
    --font-weight: 600;
    /* PAGE DIMENSIONS */
    --line-height: 1.5;
    --common-width: 70%;
    --border-radius: 8px;
    --border-radius-contact: 4px;
    --border-radius-round: 25px;

    /* --primary-color: rgb(235, 235, 235);
    --secondary-color: #ffff;
    --hover-color: #814ece;
    --text-color-1: #ffff;
    --text-color-2: rgba(15, 15, 15, 0.933);

    --primary-color: #292c35;
    --secondary-color: #191d27;
    --text-color-2: #ffff;
    --text-color-1: rgba(15, 15, 15, 0.933); */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--font-size);
    color: var(--text-color-2);
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

nav .nav-container{
    height: 150px;
    margin: 0 auto;
    padding: 15px;
    width: var(--common-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .nav-list {
    width: 300px;
    font-size: var(--font-header-3);
    display: flex;
    justify-content: space-between;
    list-style: none;
}


nav .list-items, nav .logo  {
    font-size: var(--font-header-3);
}

.list-items:hover {
    color: var(--accent-color);
    cursor: pointer;
}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav .logo {
    font-size: var(--font-size-logo);
    color: var(--accent-color);
}

/* hero page */

.hero-section {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header {
    font-size: var(--font-header-1);
    font-weight: var(--font-weight);
    margin: 120px auto 20px; 
    text-align: center;
}

/* about page */

.about-section {
    background-color: var(--accent-color);
    color: var(--text-color-1);
    height: 550px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-content {
    color:inherit;
    width: 850px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.about-header {
    font-size:var(--font-header-2);
    color: inherit;
    font-weight: var(--font-weight);
    margin-bottom:15px;
}

.about-description {
    text-align: center;
    color: inherit;
}


/* Skill section */

/* layout styling */
.skill-section{
    position: relative;
    background-color: inherit;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.skill-summary-container {
    background-color: inherit;
    color: var(--text-color-2);
    height: 700px;
    width: 60%;
    position: absolute;
    bottom: 70px;
    display: flex;
    border-radius: var(--border-radius);
    flex: 1;
    box-shadow: var(--shadow);
}

.skill-summary-container * {
    color: inherit;
}

.skill-box {
    flex: 1;
    padding: 2rem 2.5rem;
    text-align: center;
}

.skill-summary-container {
    box-shadow: var(--shadow);
}

.skill-summary-container .middle-box {
    border-right: 1px solid rgb(224, 222, 222);
    border-left: 1px solid rgb(224, 222, 222);
}

/* Inside each cards */

.skill-box * {
    padding-top: 10px;
}

.skill-logo-container, .skill-header {
padding-bottom: 15px;
}

.skill-logo-container .skill-logo {
    font-size: 50px;
}

.skill-logo {
    font-size: var(--font-size-logo);
}

.skill-box .skill-header {
    font-size: var(--font-header-3);
    font-weight: var(--font-weight);
}

.skill-sub-headings {
    font-weight: var(--font-weight);
}


/* Work page */

.work-section {
    background-color: inherit;
    height: 1100px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.my-work-header {
    font-size: var(--font-header-2);
    font-weight: var(--font-weight);
    padding-bottom: 15px;
}

.work-section .work-description {
    padding: 10px 0 100px;
}

.work-description a {
    text-decoration: none;
    color: var(--accent-color);
}



/* project cards */

.project-grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

 .project-cards {
    height: 250px;
    width: 350px;
    border-radius: var(--border-radius);
    color: var(--text-color-2);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

img {
    height: 250px;
    width: 350px;
}

.project-cards .project-info {
    position: absolute;
    color: var(--text-color-1);
    display: flex;
    flex-direction: column;
    bottom: -110px;
    background-color: rgb(27,27,27, 0.5);
    transition: all .5s;
}
.project-cards .project-info * {
    color: inherit;

}

.project-cards:hover .project-info {
    bottom: 0px;
    background-color: black;
}

.project-cards .project-title {
    margin: 6px;
    font-size: 30px;
    font-weight: var(--font-weight);
}

.project-cards .project-description {
    margin: 6px;
}

.project-cards span {
    font-weight: var(--font-weight);
}

.project-cards .btn-container {
    text-align: center;
    padding: 15px;
}

.project-cards button {
    width: 150px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--border-radius-round);
    cursor: pointer;
}

.project-cards button:hover {
    background-color: white;
    color:#292c35;
}

.btn-github {
    background-color: transparent;
    color: var(--accent-color);
    margin-top: 90px;
    font-size: var(--font-header-3);
    height: 60px;
    width: 400px;
    border: 0.5px solid var(--accent-color);
    border-radius: var(--border-radius-round);
    transition: 0.3s;
}

.btn-github:hover {
    background-color: var(--accent-color);
    color: white;
}

/* CONTACT SECTION */



.contact-section {
    height: 600px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
}


form {
    width: 62%;
    height: 500px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .contact-header {
    color: var(--text-color-1);
    margin: 25px 0px;
    font-size: var(--font-header-2);
    font-weight: var(--font-weight);
}

form .name-email-container {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.name-container, .email-container, .message-container  {
    display: flex;
    flex-direction: column;
}

form label {
    color: var(--text-color-1);
    margin-bottom: 15px
}

form input {
    width: 296px;
    height: 38px;
    padding: 6px 12px;
    border-radius: var(--border-radius-contact);
}

form .message-container {
    width: 650px;
}

form #message{
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 40px;
    color: var(--text-color-2);
    resize: vertical;
    border-radius: var(--border-radius-contact);
}

form button {
    width: 100px;
    height: 34px;
    color: white;
    border-radius: var(--border-radius-round);
    border: 1px solid white;
    background-color: transparent;
}

form button:hover {
    color: #292c35;
    background-color: white;
}

/* FOOTER */

.footer {
    background-color: var(--accent-color);
    height: 150px;
    text-align: center;
}

.footer-links-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul{
    list-style: none;
    display: flex;
}

footer li {
    color: var(--text-color-1);
    margin: 20px;
    cursor: pointer;
}

footer li:hover {
    color: rgb(164, 162, 162);
}